* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: center;
}

.container-logo {
  max-width: 1170px;
}

.top-wrapper {
  margin: 0;
  padding: 0;
  height: 330px;
  padding: 336px 150px;
  background: url(1233.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  color: #08596A;
}

.containers {
  position: absolute;
  transform: translate(-50%,-50%);
  text-align: center;
  top: 50%;
  left: 70%;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.search-area{
  width: 205px;
  height: 40px;
  background: #fff;
  border: none;
  border-radius: 10px;
  float: left;
  padding-left: 15px;
  box-shadow: 19px 21px 53px rgba(46,46,46,0.66);
}
.search-btms{
  width: 100px;
  height: 42px;
  border-radius: 0px 10px 10px 0px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #08596A;
  margin-left: -70px;
  margin-top: 0.2px;
  box-shadow: 0px 21px 53px rgba(46,46,46,0.66);
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-logo {
  float: left;
  color: white;
  padding: 15px;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.header-left {
  float: left;
  margin-left: 50px;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Tambahkan CSS untuk menu-icon */
.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  /* Gantikan property display ke none */
  display: none;
}

.lesson-wrapper {
  margin-top: 400px;
  height: 600px;
  padding-bottom: 80px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 40px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  border-bottom: 4px solid black;
  font-weight: normal;
}

.lesson {
  float: left;
  width: 20%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: absolute;
  top: 44%;
  width: 100%;
  color: white;
}

.text-contents p {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: black;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.extra-dua {
  text-align: center;
  background: #08596A;
  padding: 30px;
}

.extra-dua h2,h3 {
  font-family: 'Comic Sans MS';
  color: white;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 15px;
  text-align: center;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
